*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    border: none;
}
*:focs{
    outline: none;
    border: none;
}
a{
    color: unset;
}
header{
    background-image:url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
    
}
/*Navbar styles*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    flex-direction: row;
    width: 90%;
    align-items: center;
    margin: 0px auto;
}
nav .nav-item{
    color: white;
    margin: 0px 10px;
}
nav div.container{
    display: flex;
    flex-direction: row;
}
nav div.nav-item.app{
    font-size: 0.9rem;
    font-weight: 900;
}
header div.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}
header img.logo{
    width: 300px;
    
}
header h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
}
header div.search-box i{
    margin: 10px;
}
header div.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    
}
header div.search-box div.select i{
    color: #F57082;
}
header div.search-box div.input i{
    color:#828282b7;
}
header div.search-box div.seperator{
    height: 50%;
    background-color:#828282b7 ;
    width: 2px;
}
header div.search-box div.input{
    flex-grow: 80;
}
header div.search-box div.input input{
    width: 100%;
    font-size: 1em;
}
div.search-box div{
    display: flex ;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
}

/*header section complete*/

/*Nearby section*/


section.nearby div.container{
    width: 90%;
    margin: 0px auto;
    
    text-align: center;
    padding: 40px 0px;
}
section.nearby div.container h3{
    font-size: 2.2rem;
    font-weight: unset;
}
section.nearby div.box{
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section.nearby div.box:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}
section.app{
     min-height: 300px;
    background-color: #FEFBF6;

}
section.app div.container{
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.app div.container img{
    display: block;
    max-width: 300px;
}
section.app div.container div.form{
    max-width: 485px;
}
section.app div.container div.form small{
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
    margin: 20px 0px;
    color: #393737;
}
section.app div.container div.form h1{
    font-size: 3rem;
}

/* Radio button styles */


/* -------- */

section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
   
}
section.app div.input input{
    flex-grow:70;
    background-color: white;
    border: 1px solid #cfcfcf;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 5px;
    height: 100%;
    margin: 0px 10px 0px 0px;
}
section.app div.input button{
    flex-grow: 30;
    background-color: #ED5A6B;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0px 10px;
    height: 100%;
    color: white;
    font-weight: 100;
}

section.app div.container div.form div.download{
    margin: 20px 10px;
    font-weight: 100;
    color :grey;
}

section.app div.container div.form div.download div.img img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px;
}

section.options div.container{
    width: 90%;
    margin: 30px auto;
    /* align-items: center; */
    margin: 5%;
}
section.options div.container h2{
    font-size:2rem;
}
section.options div.container h3{
    font-size: 2rem;
}
section.options div.container div{
    margin-top: 40px;
}
section.options div.container div ul{
    margin-top: 20px;
    padding: 20px;
    display: flex !important ;
    flex-direction: row;
    flex-wrap: wrap;
}
section.options div.container div ul li{
    margin: 3px 10px;
    color: grey !important;
    font-size: 1.1rem;
    font-weight: 100;
}


